html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #ff0000;
}

main {
  flex-grow: 1;
}
